# Ignorar archivos de configuración de entorno
.venv

# Ignorar pycache
__pycache__

# Ignorar pytest cache
.pytest_cache

# Ignorar archivos con Extension .dot
*.dot

# Ingorar .vscode
.vscode

# Ingorar .github
.github

# Ingorar Carpeta dist
dist

# Ignorar Entorno de desarrollo
.env

# Ignorar Carpeta 
configurations/


