const express = require('express');

let app = express();

app.use(express.static(__dirname + '/dist/angular-example/browser'));

app.get('/*', (req, res) => {
    res.sendFile(__dirname + '/dist/angular-example/browser/index.html');
});

app.listen(80, () => {
    console.log('Contenedor Docker con node en ejecucion puerto 4200');
});