# ------------------ Build Stage -----------------------#

{% if Angular %}
{% include 'Frontend/Framework/Angular.jinja'%}
{% elif React %}
{% include 'Frontend/Framework/React.jinja'%}
{% elif Vue %}
{% include 'Framework/Vue.jinja'%}
{% endif %}

# ------------------ Production Stage ------------------#

{% if Nginx %}
{% include 'Frontend/Webserver/nginx.jinja'%}
{% elif Apache%}
{% include 'Frontend/Webserver/apache.jinja'%}
{% elif NodeJs %}
{% include 'Frontend/Webserver/node.js.jinja'%}
{% endif %}



