# ------------------ Build Stage -----------------------#

{% include 'Frontend/Framework/Framework.jinja'%}

# ------------------ Production Stage ------------------#

{% if Nginx %}
{% include 'Frontend/WebServer/Nginx.jinja'%}
{% elif Apache%}
{% include 'Frontend/WebServer/Apache.jinja'%}
{% elif NodeJs %}
{% include 'Frontend/WebServer/Node.js.jinja'%}
{% endif %}

{% if Port is defined %}
EXPOSE {{Port}}
{% else %}
EXPOSE 80
{% endif %}
