{% if Python %}
{% include 'Backend/Programing Language/Python.jinja'%}
{% endif %}
{% if Java %}
{% include 'Backend/Programing Language/Java.jinja'%}
{% endif %}
{% if JavaScript %}
{% include 'Backend/Programing Language/JavaScript.jinja'%}
{% endif %}