{% if Python %}
{% include 'Backend/Programing Language/Python/Python.jinja'%}
{% endif %}
{% if Java %}
{% include 'Backend/Programing Language/Java/Java.jinja'%}
{% endif %}
{% if JavaScript %}
{% include 'Backend/Programing Language/JavaScript/JavaScript.jinja'%}
{% endif %}