# Nginx WebServer Dockerfile

{% if WebServer_Version_Tag %}
FROM nginx:{{WebServer_Version_Tag}} AS prod
{% elif WebServer_Version_Digest %}
FROM nginx@{{WebServer_Version_Digest}} AS prod
{% else %}
FROM nginx AS prod # Avoid using latest tag in production
{% endif %}

{%if React %}
COPY --from=build /app/build/ /usr/share/nginx/html/
{%else%}
COPY --from=build /app/dist/{{projectName}}/ /usr/share/nginx/html/
{% endif %}

COPY nginx.conf /etc/nginx/nginx.conf

RUN service nginx restart

{% if Port is defined%}
EXPOSE {{Port}}
{% else %}
EXPOSE 80
{% endif %}