# Node.js WebServer Dockerfile

{% if WebServer_Version_Tag %}
FROM node:{{WebServer_Version_Tag}} AS prod
{% elif WebServer_Version_Digest %}
FROM node@{{WebServer_Version_Digest}} AS prod
{% else %}
FROM node AS prod # Avoid using latest tag in production
{% endif %}

WORKDIR /app/

RUN npm install express

COPY --from=build /app/dist/ /app/dist/

COPY server.js ./

{% if Port is defined %}
EXPOSE {{Port}}
{% else %}
EXPOSE 80
{% endif %}

CMD ["NODE_ENV=production","node", "server.js"]