{%- include 'Common Templates/Header.jinja' %}
{%- include 'Common Templates/Metadata.jinja' %}
# ------------------ Build Stage -----------------------#

{%- if Angular %}
{%- include 'Frontend/Framework/Angular.jinja'%}
{%- elif React %}
{%- include 'Frontend/Framework/React.jinja'%}
{%- elif Vue %}
{%- include 'Frontend/Framework/Vue.jinja'%}
{%- endif %}

# ------------------ Production Stage ------------------#

{%- if Nginx %}
{%- include 'Frontend/Webserver/Nginx/nginx.jinja'%}
{%- elif Apache%}
{%- include 'Frontend/Webserver/Apache/apache.jinja'%}
{%- elif NodeJs %}
{%- include 'Frontend/Webserver/Node.js/node.js.jinja'%}
{%- endif %}



